.idea/
.vscode/
.ipynb_checkpoints/
.cache/

intermediates/

docs/build
build/
dist/
*.egg-info/
objs/
examples/*.ipynb

benchmarks/**/*.npy
benchmarks/**/*.ipynb

*.pyc
*.ncu-rep
venv/

compile_commands.json
